*,
*::before,
*::after {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // outline: 1px solid red;/
}

body {
  background: rgb(230, 230, 230);
  padding-inline: 60px;
}

h1 {
  margin-block: 60px 30px;
}

.accordion {
  margin-inline: -60px;

  > ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    overflow: auto;
    padding-inline: 60px;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    > li {
      height: 500px;
      overflow: hidden;
      transition: all 1s, transform 0.3s;
      border-radius: 50px;
      cursor: pointer;
      flex-shrink: 0;

      &.active {
        width: 50%;
      }

      &.inactive {
        width: 150px;
        opacity: 50%;
      }

      article {
        height: 100%;
        position: relative;
      }

      .background-image {
        position: absolute;
        height: 100%;
        width: 100%;

        img {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
          min-width: 100%;
          object-fit: cover;
          z-index: 1;
        }
      }

      .text {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        padding: 60px 30px;
        width: 100%;
        transition: all 1s 0s, bottom 0.5s 0.5s, opacity 0.5s 0.5s;
        color: white;
        background-image: linear-gradient(
          to bottom,
          rgb(0 0 0 / 0),
          rgb(0 0 0 / 0.5)
        );

        &.inactive {
          opacity: 0;
          visibility: hidden;
          bottom: -25px;
          transition: all 1s 0s, bottom 0.5s 0s, opacity 0.5s 0s;
        }
      }
    }
  }
}

.indicators {
  margin-inline: auto;
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;

  > div {
    display: flex;
    gap: 10px;
    > button {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      font-size: 2rem;
      border: none;
      font-weight: 100;
      padding: 0;
      position: relative;
      cursor: pointer;
      background: rgb(255, 255, 255);
      box-shadow: 0px 0px 10px rgb(0 0 0 / 0.1);

      svg {
        width: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 5px;

    button {
      width: 1rem;
      height: 1rem;
      border-radius: 9999px;
      border: none;
      cursor: pointer;
      background: rgb(255, 255, 255);
      box-shadow: 0px 0px 10px rgb(0 0 0 / 0.1);
      transition: all 1s;

      &.active {
        width: 5rem;
      }

      p {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
